.rap {
    border: solid 1px gray;
    //width: 100%;
    height: 600px;
    margin: 0 0 0 300px;
}
.leaflet-container {
    height: 600px;
    width: 100%;
}

pre.ui-coordinates {
  position:absolute;
  bottom:10px;
  right:10px;
  padding:5px 10px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
}


