<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Fishhook</title>
        <link rel="stylesheet" href="/static/leaflet.css">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.ie.css" />
        <![endif]-->
        <link rel="stylesheet" href="/static/style.css">
        <script>var coords = [55.7522222, 37.6155556]</script>
    </head>
    <body>
        <h1>Test</h1>
        <div id="testMount">
          <%- reactOutput %>
        </div>

<div class='main-ways'>
    <div class='body'>
    {"status": "SUCCESS", "total_returned": 10, "total": 165, "limit": 10, "results": [{"sat_type": "L8", "state": "http://localhost:8000/images/LC81770132016215LGN00", "sceneID": "LC81770132016215LGN00", "shape": [[66.461557694864, 45.485845610102544], [66.50211936113908, 45.21868871940561], [66.51225540580694, 45.15192829198469], [66.5127, 45.149], [66.54603034338064, 45.181797746308966], [66.58330268231497, 45.21847449766281], [66.85499596973246, 45.48582630417746], [67.87459064523289, 46.48912852411374], [67.90692254614017, 46.52094378240656], [67.9458, 46.5592], [67.94518721292947, 46.56320203281746], [67.3287, 50.5894], [67.2920727202125, 50.54739583030162], [65.96368493420947, 49.024000527340114], [65.9302, 48.9856], [66.39513243555724, 45.92335144676578], [66.461557694864, 45.485845610102544]], "date": "2016-08-02", "path": "177", "thumbnail": "http://earthexplorer.usgs.gov/browse/landsat_8/2016/177/013/LC81770132016215LGN00.jpg", "cloud": 75.63, "row": "013"}, {"sat_type": "L8", "state": "http://localhost:8000/images/LC81790132016213LGN00", "sceneID": "LC81790132016213LGN00", "shape": [[66.46155077019313, 42.3957], [66.5021119065704, 42.12853963615676], [66.51224269488151, 42.06181209021133], [66.5127, 42.0588], [66.54698420570158, 42.09253875884512], [66.58331523322836, 42.12829177546714], [66.85503464114888, 42.395688245350826], [67.87459129509254, 43.39902419473099], [67.90689999134608, 43.43081887362735], [67.9458, 43.4691], [67.94518719992357, 43.473102018454156], [67.3287, 47.4992], [67.29207481214443, 47.45720084822026], [65.96287034534089, 45.932964020610065], [65.9302, 45.8955], [66.39511843812838, 42.8332638256358], [66.46155077019313, 42.3957]], "date": "2016-07-31", "path": "179", "thumbnail": "http://earthexplorer.usgs.gov/browse/landsat_8/2016/179/013/LC81790132016213LGN00.jpg", "cloud": 87.26, "row": "013"}, {"sat_type": "L8", "state": 
    </div>
</div>

        <script src="/static/bundle.js"></script>
    </body>
</html>
